<?php


$html = '';

$children = $menuTree->getChildren();
$parentLevel = $menuTree->getLevel();
$childLevel = is_null($parentLevel) ? 0 : $parentLevel + 1;

$counter = 1;
$childrenCount = $children->count();

$parentPositionClass = $menuTree->getPositionClass();
$itemPositionClassPrefix = $parentPositionClass ? $parentPositionClass . '-' : 'nav-';

foreach ($children as $child) {
    
    $child->setLevel($childLevel);
    $child->setIsFirst($counter == 1);
    $child->setIsLast($counter == $childrenCount);
    $child->setPositionClass($itemPositionClassPrefix . $counter);

    
    $outermostClassCode = 'level'. $childLevel;
    $_hasChildren = ($child->hasChildren()) ? 'has-children' : '';
    
    //get category model
    $categoryModel = Mage::getModel('catalog/category')->load($child->getCategoryId());
    
    //get attribute's value 'replacement_content'
    $replacementContent = Mage::helper('navsettings')->filterHtml($categoryModel->getReplacementContent());

    
    $html .= '<li '. $this->_getRenderedMenuItemAttributes($child) .'>';
    
    if($replacementContent){
        $html .= '<a href="'. $child->getUrl() .'" class="'. $outermostClassCode .' '. $_hasChildren .'">'. $replacementContent .'</a>';  
    }else{
        if($categoryModel->getOutputLink()){
            $html .= '<p class="'. $outermostClassCode .' '. $_hasChildren .'">'. $this->escapeHtml($this->__($child->getName())) .'</a>';  
        }else{
            $html .= '<a href="'. $child->getUrl() .'" class="'. $outermostClassCode .' '. $_hasChildren .'">'. $this->escapeHtml($this->__($child->getName())) .'</a>';  
        }
    } 
    
    //check flag 'new_column_after'
    if($categoryModel->getNewColumnAfter()){
        $html .= '</ul>';
        $html .= '<ul class="level0">';
    }
    if (!empty($childrenWrapClass)) {
        $html .= '<div class="'. $childrenWrapClass .'">';
    }

    $nextChildLevel = $childLevel + 1;

    if (!empty($_hasChildren)) {
    
        if($childLevel == 0){
            $html .= '<div class="top-level-wrapper"><ul class="level'. $childLevel .'">';
        }
        
        $html .=     $this->render($child, $childrenWrapClass);
        if($childLevel == 0){
            $html .= '</ul></div>';
        }
        
        
    }
    if (!empty($childrenWrapClass)) {
        $html .= '</div>';
    }

    $html .= '</li>';
    $counter++;
    
}

return $html;



