<?php
$quote = $this->getQuotesCollection()->getData();
$helper = Mage::helper('amquotes');
?>
<div id="quotes">
    <?php if (empty($quote)):?>
        <div>
            <p>
                <?php echo $this->__('Sorry, this product not have quotations.') ?>
            </p>
        </div>
    <?php else:?>
        <dl>
            <?php foreach ($quote as $quotes):?>
                <dt>
                    <a href="<?php echo $quotes['link'] ?>" target="_blank">
                        <?php  echo $helper->filterhtml($quotes['magazine']) ?>
                    </a>
                </dt>
                <dd>
                    <div>
                        <?php echo $helper->filterhtml($quotes['thesis']) ?>
                    </div>
                <span>
                    <?php echo $this->__('Posted on: %s', $this->formatDate($quotes['created']), 'long') ?>
                </span>
                </dd>
                <br />
            <?php endforeach; ?>
        </dl>


    <?php endif;?>
</div>


