<?php

?>
<?php if($this->getSubtotal() > 200){ ?>
<div class="shipping">

    <h2>Quick order</h2>

<form action="<?php echo $this->getFormAction() ?>" id="contactForm" method="post">
    <div class="fieldset">
        <h2 class="legend"><?php echo Mage::helper('quickorder')->__('Contact Information') ?></h2>
        <ul class="form-list">
            <li class="fields">
                <div class="field">
                    <label for="name" class="required"><em>*</em><?php echo Mage::helper('quickorder')->__('Name') ?></label>
                    <div class="input-box">
                        <input name="name" id="name" title="<?php echo Mage::helper('quickorder')->__('Name') ?>" value="<?php echo $this->escapeHtml($this->helper('quickorder')->getUserName()) ?>" class="input-text required-entry" type="text" />
                    </div>
                </div>
                <div class="field">
                    <label for="email" class="required"><em>*</em><?php echo Mage::helper('quickorder')->__('Email') ?></label>
                    <div class="input-box">
                        <input name="email" id="email" title="<?php echo Mage::helper('quickorder')->__('Email') ?>" value="<?php echo $this->escapeHtml($this->helper('quickorder')->getUserEmail()) ?>" class="input-text validate-email required-entry" type="text" />
                    </div>
                </div>
            </li>
            <li>
                <label for="telephone" class="required"><em>*</em><?php echo Mage::helper('quickorder')->__('Telephone') ?></label>
                <div class="input-box">
                    <input name="telephone" id="telephone" title="<?php echo Mage::helper('quickorder')->__('Telephone') ?>" value="<?php ?>" class="input-text validate-phoneStrict required-entry" type="tel" />
                </div>
            </li>
        </ul>
    </div>
    <div class="buttons-set">   
        <button type="submit" title="<?php echo Mage::helper('quickorder')->__('Quick order') ?>" class="button btn-proceed-checkout btn-checkout"><span><span><?php echo Mage::helper('quickorder')->__('Quick order') ?></span></span></button>
    </div>
</form>
</div>
<?php }?>
<script type="text/javascript">
//<![CDATA[
    var contactForm = new VarienForm('contactForm', true);
//]]>
</script>
<script type="text/javascript">
//<![CDATA[

document.getElementById('telephone').onchange = function (e) {
             phone = document.getElementById('telephone');
             email = document.getElementById('email');
             if (phone.value !== '') {
                    email.classList.remove('required-entry');

                } else {
                    email.classList.add('required-entry');
                 
                    
                }
            };
document.getElementById('email').onchange = function (e) {
             phone = document.getElementById('telephone');
             email = document.getElementById('email');
             if (email.value !== '') {
                    phone.classList.remove('required-entry');
                   
                } else {
                    phone.classList.add('required-entry');
                    
                }
            };
            
             

//]]>
</script>
