<?php $_code=$this->getMethodCode(); 
echo $this->htmlEscape($this->getInfoData('comments'));
?>
<ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none;">
    <li>
        <label for="<?php echo $_code ?>_comments" class="required"><em>*</em><?php echo $this->__('Comments') ?></label>
        <br/>
        <span class="input-box">
            <input type="text" title="<?php echo $this->__('Comments') ?>" class="input-text required-entry" id="<?php echo $_code ?>_comments" name="payment[comments]" value="<?php echo $this->htmlEscape($this->getInfoData('comments')) ?>" />
        </span>
    </li>
    
</ul>
