<?php
/**
 * Get the collection and display a list of news
 */
// this displays exact pagination with page numbers
echo $this->getPagerHtml(); 
$news = $this->getNewsCollection(); 
?>
<h1>News list</h1>
<ul class="news-list-cont">
    
<?php foreach ($news as $item): ?>
    <li>
        <div class="news-list">

            <div class="news-image-list">
            <img src="<?php echo Mage::helper('news/image')->getCachedFilePath('100_75').substr($item->getPathImg(),1);?>" />
            
            </div>
            <div class="news-title">
                <h2>
                    <a href="
                        <?php echo Mage::getUrl('news/index/view', array(
                                  '_current' => true,
                                  'news_id' => $item->getNewsId()
                                  ));  ?>">
                        <?php echo $item->getTitle(); ?>
                    </a>
                </h2> 
                
                <div class="news-summary">
                 <?php 
                 //if the summary is empty, we derive 150 characters to content
                    if($item->getSummary())
                    {
                       echo $item->getSummary();
                    }else
                    {
                        echo substr($item->getContent(),0,150);
                    }
                ?>
                </div>
             
                <p><?php echo $item->getAuthor();?><time datetime="<?php echo $item->getPublicTime();?>" pubdate="pubdate"><?php echo Mage::helper('core/data')->formatDate($item->getPublicTime(),'long');?></time></p>
            </div>             

                
        </div>             
        
    </li>

<?php endforeach; ?>
</ul>