.color {
    color: red;
   
}

.weight{
    font-weight:bolder;
 
}
.top-level-wrapper {
   
    display: none;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    padding: 7px 0 5px;
    position: absolute;
    top: 97%;
    z-index: 1000;
    width: 1000px;
}

ol.nav-primary>li:hover .top-level-wrapper {
  display: block;
  
}
/*.top-level-wrapper ul {
    background: #FBFBFB;
    border: solid 1px #cccccc;
    //position: absolute;
    left: 0;
    top: 30px;
     Height of ".nav-primary a.level0" 
    z-index: 10;
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    float: left;
     Hide until displayed. 
  }*/
