/*
* css for the news list
*/
.news-list-cont li
{
    border-bottom: 1px solid #f1f1f1;
}
.news-list
{
    margin-bottom: 24px;
    padding-bottom: 24px;
    padding-top: 24px;
    overflow: hidden;
}
.news-image-list
{
    width: 150px;
    align: middle;
    float: left;
}
.news-title
{
    margin-left: 160px;
    overflow: hidden;
}
.news-summary
{
    width: 700px;
}
.news-title h2
{
    margin: 0px;
}
.news-title time
{
    margin-left: 20px;
}
