/*
* css for the news list
*/
h1{
    border-bottom: 1px solid #f1f1f1;
}
.stocks-list-cont li
{
    border-bottom: 1px solid #f1f1f1;
}
.stocks-list
{
    margin-bottom: 24px;
    padding-bottom: 24px;
    padding-top: 24px;
    overflow: hidden;
}
.stocks-image-list
{
    width: 220px;
    align: middle;
    float: left;
}
.stocks-title
{
    margin-left: 160px;
    overflow: hidden;
    
}
.stocks-summary
{
    text-indent: 10px;
    width: 500px;
    height: 100px;
    margin-bottom: 30px;
    overflow: hidden;
}
.stocks-title h2
{
    margin: 0px;
}
.stocks-title time
{
    margin-left: 20px;
}
