/*
* css for the news page
*/
h1{
    padding-left: 10px;
    border-bottom: 1px solid #f1f1f1;
}
.stocks-author{
    border-bottom: 1px solid #f1f1f1;
    padding: 10px;
    padding-bottom: 10px;
}
.stocks-content
{
    text-indent: 10px;
    margin: 0px; 
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid #f1f1f1;
}