 
<?php $newsItem = $this->getNews(); ?>


<h1><?php echo $newsItem->getTitle(); ?></h1>
<div class="news-author"><p><strong>Author:</strong> <?php echo $newsItem->getAuthor();?></p></div>

<div class="news-author"><p><strong>Date of publication:</strong> <?php echo Mage::helper('core/data')->formatDate($newsItem->getPublic_time(),'long');?></p></div>

<div class="news-content"><?php echo Mage::helper('news')->filterHtml($newsItem->getContent()); ?></div>

