<?php

/**
 * Get the collection and display a list of stocks
 */
// this displays exact pagination with page numbers
echo $this->getPagerHtml(); 
$stocks = $this->getStocksCollection(); 
?>
<h1>Stocks list</h1>
<ul class="stocks-list-cont">
    
<?php foreach ($stocks as $item): ?>
    <li>
        <div class="stocks-list">

            <div class="stocks-image-list">
         
            <img src="<?php echo Mage::helper('stocks/image')->getCachedFilePath('200_200').substr($item->getImage(),1);?>" />
            
            </div>
            <div class="stocks-title">
                <h2>
                    <a href="
                        <?php echo Mage::getUrl('stocks/index/view', array(
                                  '_current' => true,
                                  'stocks_id' => $item->getStocksId()
                                  ));  ?>">
                        <?php echo $item->getTitle(); ?>
                    </a>
                </h2> 
                
                <div class="stocks-summary">
                 <?php 
                 //if the summary is empty, we derive 150 characters to content
                    if($item->getSummary())
                    {
                       echo $item->getSummary();
                    }else
                    {
                        echo substr($item->getContent(),0,150);
                    }
                ?>
                </div>
             
             <div class="stocks-author"><p><strong>From:</strong> <?php echo Mage::helper('core/data')->formatDate($item->getStartTime(),'long');?> - 
                <?php echo Mage::helper('core/data')->formatDate($item->getStartEnd(),'long');?></p>
            </div>   
            </div>             
            
                
        </div>             
        
    </li>

<?php endforeach; ?>
</ul>